# ==============================
# DỮ LIỆU (KHÔNG COMMIT)
# ==============================
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ==============================
# PYTHON CACHE
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# JUPYTER
# ==============================
.ipynb_checkpoints/

# ==============================
# VIRTUAL ENV
# ==============================
.venv/
venv/
env/

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / EDITOR
# ==============================
.vscode/
.idea/

# ==============================
# LOG / TEMP
# ==============================
*.log
*.tmp
